<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h3>Recent Activity</h3>
      <hr />
      {% for message in room_messages %}
      <div>
        <h5>
          <a href="{% url 'user-profile' message.user.id %}"
            >@{{message.user.username}}</a
          >
          {{message.created|timesince}}
        </h5>
        <small>replied to: {{message.room}}</small>
        <p>{{message.content}}</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
