<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% extends 'main.html'%} {% block content %} {% if page == 'login' %}
    <div>
      <form action="" method="POST">
        {% csrf_token %}
        <label for="username">username</label>
        <input type="text" name="username" placeholder="enter username here" />
        <label for="password">password</label>
        <input
          type="password"
          name="password"
          placeholder="enter password here"
        />
        <button type="submit">Login</button>
        <p>Dont have an account yet?</p>
        <a href="{% url 'register' %}">Sign Up</a>
      </form>
    </div>
    {% else %}
    <div>
      <form action="" method="POST">
        {% csrf_token %} {{form.as_p}}
        <button type="submit">Register</button>
        <p>Already have an account?</p>
        <a href="{% url 'login' %}">Login</a>
      </form>
    </div>
    {% endif %} {% endblock %}
  </body>
</html>
